In [1]:
#!python -m pip install sklearn
#load_ext autoreload
#%autoreload 2

In [2]:
import pandas as pd

In [3]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4AC3-7D99

 C:\Develops\machinelearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  92,412,977,152 바이트 남음

In [4]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header = None)
pd_data.info() #데이터들의 상태가 어떤지

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
pd_data.shape
pd_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [6]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [7]:
pd_data.shape
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [8]:
x = pd_data[['weight','cylinders']]

In [9]:
y = pd_data[['mpg']]

In [10]:
x.shape, y.shape
pd_data[['mpg','cylinders','weight']]

      mpg  cylinders  weight
0    18.0          8  3504.0
1    15.0          8  3693.0
2    18.0          8  3436.0
3    16.0          8  3433.0
4    17.0          8  3449.0
..    ...        ...     ...
393  27.0          4  2790.0
394  44.0          4  2130.0
395  32.0          4  2295.0
396  28.0          4  2625.0
397  31.0          4  2720.0

[398 rows x 3 columns]

import sklearn
!python -m pip install sklearn
from sklearn.linear_model

In [11]:
import sklearn

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lr = LinearRegression()

In [16]:
#lr.fit
lr.fit(X_train,Y_train)

LinearRegression()

In [17]:
lr.coef_, lr.intercept_

(array([[-0.00645497, -0.76396526]]), array([46.93471279]))

y = -0.00767661x + 46.31736442

In [18]:
# check with total data
lr.score(x,y)

0.6959880218096355

In [19]:
# check with a part train data
lr.score(X_train,Y_train)

0.6975603813895893

In [20]:
# check with a part of test data
lr.score(X_test,Y_test)

0.6906228529268534

In [21]:
#weight --------cyclinders
lr.predict([[3504.0,8]])

array([[18.20478354]])

In [22]:
#2790.0, 4
lr.predict([[2790.0,4]]) #고간법이 아니기때문에 근사치를 찾는다

array([[25.86949158]])

In [23]:
# 훈련시킨 리니어값 가중치와 절편의 합을 역산하면 나온다

In [24]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [25]:
import pickle

In [26]:
pickle.dump(lr, open('./saves/autompg_lr.pkl','wb'))

In [28]:
y_predict = lr.predict(X_train)
y_predict.shape, Y_train.shape

((298, 1), (298, 1))

In [32]:
y_result = Y_train - y_predict #편차. 편차제곱이 분산. 스코어가 나오는 과정에 대해
y_result

          mpg
376  6.192458
330  8.866014
306  3.199720
281 -3.250568
208 -2.390418
..        ...
28  -1.278083
161 -1.195912
274 -4.547328
22  -3.548303
231  2.594745

[298 rows x 1 columns]

In [33]:
lr.score(X_train, Y_train) #스코어가 나오는과정에 대해

0.6975603813895893