In [1]:
import pandas as pd

In [3]:
%load_ext autoreload
%autoreload 2

In [8]:
!dir .\saves\advertising.xls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4AC3-7D99

 C:\Develops\machinelearning\saves 디렉터리

2021-07-01  오후 01:32           233,472 advertising.xls
               1개 파일             233,472 바이트
               0개 디렉터리  91,940,868,096 바이트 남음

In [19]:
pd_data = pd.read_excel('./saves/advertising.xls')
pd_data

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [20]:
 pd_data.info() #열에 대한 정보들

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

In [21]:
pd_data.shape #데이터들의 행과 열

(1000, 10)

In [28]:
x1 = pd_data[['Daily Time Spent on Site']]
x2 = pd_data[['Age']]
x3 = pd_data[['Area Income']]
x4 = pd_data[['Daily Internet Usage']]
x5 = pd_data[['Male']]

In [29]:
y = pd_data[['Clicked on Ad']]

In [34]:
x1.shape,x2.shape,x3.shape,x4.shape,x5.shape, y.shape #5개의 독립변인과 종속변인

((1000, 1), (1000, 1), (1000, 1), (1000, 1), (1000, 1), (1000, 1))

In [32]:
pd_data[['Daily Time Spent on Site','Age','Area Income','Daily Internet Usage','Male','Clicked on Ad']]

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
0,68.95,35,61833.90,256.09,0,0
1,80.23,31,68441.85,193.77,1,0
2,69.47,26,59785.94,236.50,0,0
3,74.15,29,54806.18,245.89,1,0
4,68.37,35,73889.99,225.58,0,0
...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,1,1
996,51.30,45,67782.17,134.42,1,1
997,51.63,51,42415.72,120.37,1,1
998,55.55,19,41920.79,187.95,0,0
999,45.01,26,29875.80,178.35,0,1

In [35]:
import sklearn

In [36]:
from sklearn.model_selection import train_test_split

In [69]:
x1_train, x1_test, y_train, y_test = train_test_split(x1,y)

In [70]:
from sklearn.linear_model import LinearRegression

In [71]:
lr = LinearRegression()

In [72]:
#fit
lr.fit(x1_train,y_train)

LinearRegression()

In [73]:
lr.coef_, lr.intercept_

(array([[-0.02324464]]), array([2.01032269]))

In [74]:
lr.score(x1,y)

0.5595456516268928

In [81]:
lr.fit(x2_train,y_train)

LinearRegression()

In [82]:
lr.coef_, lr.intercept_

(array([[-0.00087677]]), array([0.52755566]))

In [83]:
lr.score(x2,y)

-0.015469800957660373

In [84]:
lr.fit(x3_train,y_train)

LinearRegression()

In [85]:
lr.coef_, lr.intercept_

(array([[-4.68979058e-07]]), array([0.52164317]))

In [86]:
lr.score(x3,y)

0.011751754830148564