In [4]:
!ls

sample_data

In [2]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Jun 15 13:37 sample_data

In [3]:
!pwd

/content

In [7]:
!ls ./sample_data

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [9]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:47 ./Wholesale_customers_data.csv

In [67]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df

     Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0             0        2       3  ...              2674        1338      3
1             1        2       3  ...              3293        1776      3
2             2        2       3  ...              3516        7844      3
3             3        1       3  ...               507        1788      0
4             4        2       3  ...              1777        5185      3
..          ...      ...     ...  ...               ...         ...    ...
435         435        1       3  ...               182        2204      0
436         436        1       3  ...                93        2346      0
437         437        2       3  ...             14841        1867      3
438         438        1       3  ...               168        2125      0
439         439        1       3  ...               477          52      0

[440 rows x 10 columns]

In [68]:
Y = df['label']
X = df.iloc[:,1:9]

In [69]:
Y.shape, X.shape

((440,), (440, 8))

In [71]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y) #XZ부스트?!

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')